# Setup

In [1]:
import pandas as pd
import numpy as np

from src.config_reader import ConfigurationReader

In [2]:
conf_reader = ConfigurationReader("/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/model_params.json")
print(conf_reader)
conf = conf_reader.data

{
    "dataset": {
        "aod2022": {
            "file_dir": "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/MatchingData2022.xlsx"
        },
        "aod2021": {
            "file_dir": "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/aod_data_daily.csv",
            "target_start_date": "2021-01-01",
            "target_end_date": "2021-12-31"
        },
        "mpair": {
            "file_dir": "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/MPair.csv",
            "target_start_date": "2021-01-01",
            "target_end_date": "2022-12-31",
            "station_2022_dir": "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/station2022.csv",
            "station_2018_2021_dir": "/le_thanh_van_118/workspace/hiep_workspace/air_quality_index_project/dataset/station2018-2021.csv"
        }
    },
    "workspace": {
        "model_info_dir": "/le_thanh_van_118/workspace/hiep_workspace/model_info",
        "model_checkpoints_dir": "/le_thanh_van_118/workspace/hiep_workspace/model_checkpoints",
        "data_by_location_dir": "/le_thanh_van_118/workspace/hiep_workspace/data_by_location",
        "data_by_station_dir": "/le_thanh_van_118/workspace/hiep_workspace/data_by_station",
        "data_statistic_dir": "/le_thanh_van_118/workspace/hiep_workspace/data_statistic"
    },
    "prediction": {
        "n_past": 7,
        "n_future": 1,
        "epochs": 20,
        "batch_size": 128
    },
    "reduction": {
        "n_past": 7,
        "n_future": 7,
        "epochs": 20,
        "batch_size": 128,
        "min_number_of_features": 13
    }
}

# Load dataset

## MPair.csv

In [3]:
df_mpair_raw = pd.read_csv(conf["dataset"]["mpair"]["file_dir"])
df_mpair_raw

,i,j,lat,lon,time,PM25_3km,TMP,RH,HPBL,WSPD,...,NEAR_DIST,BARELAND,BUILTUP,CROPLAND,GRASSLAND,TREECOVER,WATER,NDVI,AOD,AIMODEL
0,0,0,11.149747,106.300443,2018-01-01,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
1,0,1,11.149747,106.323330,2018-01-01,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
2,0,2,11.149747,106.346217,2018-01-01,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,0.156327,-9999.000000
3,0,3,11.149747,106.369103,2018-01-01,24.740000,25.460614,65.144661,2.448070,2.448070,...,7.265194e+01,14453.144036,30347.516088,54101.838731,203551.710735,683877.574149,13604.234765,NaN,0.167487,-9999.000000
4,0,4,11.149747,106.391990,2018-01-01,23.760931,25.462688,65.080498,2.438784,2.438784,...,1.107789e+02,4569.189136,21119.949784,76052.614180,231046.865089,662859.174184,4308.164827,NaN,0.141881,-9999.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236845,34,30,10.385233,106.987043,2022-12-31,NaN,25.815809,74.737156,207.873199,3.124345,...,3.072120e+03,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,NaN,-9999.000000,14.998473
2236846,34,31,10.385233,107.009930,2022-12-31,NaN,25.815809,75.000397,207.873199,3.215876,...,4.355371e+03,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,NaN,-9999.000000,15.201084
2236847,34,32,10.385233,107.032816,2022-12-31,-9999.000000,25.601173,-9999.000000,142.227615,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,0.000000
2236848,34,33,10.385233,107.055703,2022-12-31,-9999.000000,25.560753,-9999.000000,129.865280,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,0.000000
2236849,34,34,10.385233,107.078590,2022-12-31,-9999.000000,25.834951,-9999.000000,284.036316,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,0.000000

In [4]:
df_mpair_raw.columns

Index(['i', 'j', 'lat', 'lon', 'time', 'PM25_3km', 'TMP', 'RH', 'HPBL', 'WSPD',
       'PRES2M', 'POP', 'ROAD_DEN_1km', 'ROAD_LEN_1km', 'PRIM_ROAD_LEN_1km',
       'NEAR_DIST', 'BARELAND', 'BUILTUP', 'CROPLAND', 'GRASSLAND',
       'TREECOVER', 'WATER', 'NDVI', 'AOD', 'AIMODEL'],
      dtype='object')

In [5]:
# Convert "time" columns to Pandas datetime
df_mpair_raw = df_mpair_raw.assign(time=pd.to_datetime(df_mpair_raw["time"]))

# Set "time" column as index
df_mpair_raw.set_index("time", inplace=True)

# Lower case all column names
df_mpair_raw = df_mpair_raw.rename(columns={name: name.lower() for name in df_mpair_raw.columns})

# Print
df_mpair_raw

,i,j,lat,lon,pm25_3km,tmp,rh,hpbl,wspd,pres2m,...,near_dist,bareland,builtup,cropland,grassland,treecover,water,ndvi,aod,aimodel
time,,,,,,,,,,,,,,,,,,,,,
2018-01-01,0,0,11.149747,106.300443,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
2018-01-01,0,1,11.149747,106.323330,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
2018-01-01,0,2,11.149747,106.346217,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,0.156327,-9999.000000
2018-01-01,0,3,11.149747,106.369103,24.740000,25.460614,65.144661,2.448070,2.448070,100678.856634,...,7.265194e+01,14453.144036,30347.516088,54101.838731,203551.710735,683877.574149,13604.234765,NaN,0.167487,-9999.000000
2018-01-01,0,4,11.149747,106.391990,23.760931,25.462688,65.080498,2.438784,2.438784,100663.473976,...,1.107789e+02,4569.189136,21119.949784,76052.614180,231046.865089,662859.174184,4308.164827,NaN,0.141881,-9999.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31,34,30,10.385233,106.987043,NaN,25.815809,74.737156,207.873199,3.124345,101319.281250,...,3.072120e+03,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,NaN,-9999.000000,14.998473
2022-12-31,34,31,10.385233,107.009930,NaN,25.815809,75.000397,207.873199,3.215876,101319.281250,...,4.355371e+03,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,NaN,-9999.000000,15.201084
2022-12-31,34,32,10.385233,107.032816,-9999.000000,25.601173,-9999.000000,142.227615,-9999.000000,101284.367188,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,0.000000
2022-12-31,34,33,10.385233,107.055703,-9999.000000,25.560753,-9999.000000,129.865280,-9999.000000,101277.789062,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,0.000000
2022-12-31,34,34,10.385233,107.078590,-9999.000000,25.834951,-9999.000000,284.036316,-9999.000000,101276.445312,...,-1.797693e+308,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,0.000000

## station2022.csv

In [6]:
df_station_2022 = pd.read_csv(conf["dataset"]["mpair"]["station_2022_dir"])
df_station_2022

           time  ID        lat         lon       pm25   i   j
0    2022-01-01  S4  10.815839  106.717396  23.768238  15  18
1    2022-01-01  S5  10.776415  106.687955  14.221014  17  17
2    2022-01-01  S6  10.780482  106.659511  21.405015  16  16
3    2022-01-01  S7  10.783456  106.700622  21.695652  16  17
4    2022-01-02  S4  10.815839  106.717396  22.154723  15  18
..          ...  ..        ...         ...        ...  ..  ..
993  2022-12-30  S6  10.780482  106.659511  33.091428  16  16
994  2022-12-30  S7  10.783456  106.700622  40.166667  16  17
995  2022-12-31  S4  10.815839  106.717396  27.879261  15  18
996  2022-12-31  S6  10.780482  106.659511  28.854069  16  16
997  2022-12-31  S7  10.783456  106.700622  33.958333  16  17

[998 rows x 7 columns]

In [7]:
# Convert "time" columns to Pandas datetime
df_station_2022 = df_station_2022.assign(time=pd.to_datetime(df_station_2022["time"]))

# Set "time" column as index
df_station_2022.set_index("time", inplace=True)

# Lower case all column names
df_station_2022 = df_station_2022.rename(columns={name: name.lower() for name in df_station_2022.columns})

# Rename "id" column to "station"
df_station_2022 = df_station_2022.rename(columns={"id": "station"})

# Print
df_station_2022

           station        lat         lon       pm25   i   j
time
2022-01-01      S4  10.815839  106.717396  23.768238  15  18
2022-01-01      S5  10.776415  106.687955  14.221014  17  17
2022-01-01      S6  10.780482  106.659511  21.405015  16  16
2022-01-01      S7  10.783456  106.700622  21.695652  16  17
2022-01-02      S4  10.815839  106.717396  22.154723  15  18
...            ...        ...         ...        ...  ..  ..
2022-12-30      S6  10.780482  106.659511  33.091428  16  16
2022-12-30      S7  10.783456  106.700622  40.166667  16  17
2022-12-31      S4  10.815839  106.717396  27.879261  15  18
2022-12-31      S6  10.780482  106.659511  28.854069  16  16
2022-12-31      S7  10.783456  106.700622  33.958333  16  17

[998 rows x 6 columns]

In [8]:
# Get the location i, j of each station
all_stations = df_station_2022["station"].unique()
station_ij_map_2022 = {}
for station in all_stations:
    i = df_station_2022.loc[df_station_2022["station"] == station]["i"].unique()[0]
    j = df_station_2022.loc[df_station_2022["station"] == station]["j"].unique()[0]
    station_ij_map_2022[station] = (i, j)
station_ij_map_2022

{'S4': (15, 18), 'S5': (17, 17), 'S6': (16, 16), 'S7': (16, 17)}

## station2018-2021.csv

In [9]:
df_station_2021 = pd.read_csv(conf["dataset"]["mpair"]["station_2018_2021_dir"])
df_station_2021

                  time   ID         Lon        Lat       pm25   i   j
0        1/1/2018 0:00  201  106.700606  10.783057  31.391304  16  17
1        1/1/2018 0:00  202  106.682027  10.762638  29.615625  17  17
2        1/1/2018 0:00  211  106.796200  10.870190        NaN  12  22
3        1/1/2018 0:00  212  106.617000  10.740760        NaN  18  14
4        1/1/2018 0:00  213  106.620500  10.816350        NaN  15  14
...                ...  ...         ...        ...        ...  ..  ..
11683  12/31/2021 0:00  212  106.617000  10.740760  20.100752  18  14
11684  12/31/2021 0:00  213  106.620500  10.816350  23.240539  15  14
11685  12/31/2021 0:00  214  106.717500  10.815570  20.549839  15  18
11686  12/31/2021 0:00  215  106.687900  10.776280        NaN  17  17
11687  12/31/2021 0:00  216  106.659300  10.780630  19.637165  16  16

[11688 rows x 7 columns]

In [10]:
# Convert "time" columns to Pandas datetime
df_station_2021 = df_station_2021.assign(time=pd.to_datetime(df_station_2021["time"]))

# Set "time" column as index
df_station_2021.set_index("time", inplace=True)

# Lower case all column names
df_station_2021 = df_station_2021.rename(columns={name: name.lower() for name in df_station_2021.columns})

# Rename "id" column to "station"
df_station_2021 = df_station_2021.rename(columns={"id": "station"})

# Get data in 2021 only
time_mask = ((df_station_2021.index >= "2021-01-01") & (df_station_2021.index <= "2021-12-31"))
df_station_2021 = df_station_2021.loc[time_mask]

# Print
df_station_2021

            station         lon        lat       pm25   i   j
time
2021-01-01      201  106.700606  10.783057  17.250000  16  17
2021-01-01      202  106.682027  10.762638        NaN  17  17
2021-01-01      211  106.796200  10.870190        NaN  12  22
2021-01-01      212  106.617000  10.740760        NaN  18  14
2021-01-01      213  106.620500  10.816350        NaN  15  14
...             ...         ...        ...        ...  ..  ..
2021-12-31      212  106.617000  10.740760  20.100752  18  14
2021-12-31      213  106.620500  10.816350  23.240539  15  14
2021-12-31      214  106.717500  10.815570  20.549839  15  18
2021-12-31      215  106.687900  10.776280        NaN  17  17
2021-12-31      216  106.659300  10.780630  19.637165  16  16

[2920 rows x 6 columns]

In [11]:
# Get the location i, j of each station
all_stations = df_station_2021["station"].unique()
station_ij_map_2021 = {}
for station in all_stations:
    i = df_station_2021.loc[df_station_2021["station"] == station]["i"].unique()[0]
    j = df_station_2021.loc[df_station_2021["station"] == station]["j"].unique()[0]
    station_ij_map_2021[station] = (i, j)
station_ij_map_2021

{201: (16, 17),
 202: (17, 17),
 211: (12, 22),
 212: (18, 14),
 213: (15, 14),
 214: (15, 18),
 215: (17, 17),
 216: (16, 16)}

# Combine 2 station data

## Change the value of station in station2022 data

In [12]:
to_replace_station_map = {}
for k_2022, v_2022 in station_ij_map_2022.items():
    for k_2021, v_2021 in station_ij_map_2021.items():
        if v_2021 == v_2022:
            to_replace_station_map[k_2022] = k_2021
to_replace_station_map

{'S4': 214, 'S5': 215, 'S6': 216, 'S7': 201}

In [13]:
df_station_2022["station"].replace(to_replace=to_replace_station_map, inplace=True)
df_station_2022

            station        lat         lon       pm25   i   j
time
2022-01-01      214  10.815839  106.717396  23.768238  15  18
2022-01-01      215  10.776415  106.687955  14.221014  17  17
2022-01-01      216  10.780482  106.659511  21.405015  16  16
2022-01-01      201  10.783456  106.700622  21.695652  16  17
2022-01-02      214  10.815839  106.717396  22.154723  15  18
...             ...        ...         ...        ...  ..  ..
2022-12-30      216  10.780482  106.659511  33.091428  16  16
2022-12-30      201  10.783456  106.700622  40.166667  16  17
2022-12-31      214  10.815839  106.717396  27.879261  15  18
2022-12-31      216  10.780482  106.659511  28.854069  16  16
2022-12-31      201  10.783456  106.700622  33.958333  16  17

[998 rows x 6 columns]

## Merge 2 station table

In [14]:
# Merge 2 station table
df_station = pd.concat([df_station_2021, df_station_2022])

# Sort by station then time
df_station.sort_values(by=["station", "time"], inplace=True)

df_station

            station         lon        lat       pm25   i   j
time
2021-01-01      201  106.700606  10.783057  17.250000  16  17
2021-01-02      201  106.700606  10.783057  23.000000  16  17
2021-01-03      201  106.700606  10.783057  28.291667  16  17
2021-01-04      201  106.700606  10.783057  28.791667  16  17
2021-01-05      201  106.700606  10.783057  24.833333  16  17
...             ...         ...        ...        ...  ..  ..
2022-12-27      216  106.659511  10.780482  39.659816  16  16
2022-12-28      216  106.659511  10.780482  44.679352  16  16
2022-12-29      216  106.659511  10.780482  30.724708  16  16
2022-12-30      216  106.659511  10.780482  33.091428  16  16
2022-12-31      216  106.659511  10.780482  28.854069  16  16

[3918 rows x 6 columns]

In [15]:
df_station.isnull().sum()

station       0
lon           0
lat           0
pm25       1345
i             0
j             0
dtype: int64

# Merge MPair data with station data

## Start merging

In [16]:
df_mpair = df_mpair_raw.merge(df_station, how="inner", on=["time", "i", "j"])
df_mpair

,i,j,lat_x,lon_x,pm25_3km,tmp,rh,hpbl,wspd,pres2m,...,grassland,treecover,water,ndvi,aod,aimodel,station,lon_y,lat_y,pm25
time,,,,,,,,,,,,,,,,,,,,,
2021-01-01,12,22,10.879919,106.803950,30.366625,25.749989,61.403439,533.919250,3.311250,101038.601562,...,151361.367404,282947.325347,39120.320073,NaN,-9999.0,24.376057,211,106.796200,10.870190,NaN
2021-01-01,15,14,10.812461,106.620857,36.621094,25.925655,58.359192,536.831421,4.195177,101131.882812,...,58947.442429,108246.100356,492.146554,2580.669322,-9999.0,22.863579,213,106.620500,10.816350,NaN
2021-01-01,15,18,10.812461,106.712403,36.649185,26.025026,59.134865,579.871704,3.491554,101142.804688,...,17783.771810,95404.824438,127492.687793,2042.834978,-9999.0,25.448759,214,106.717500,10.815570,NaN
2021-01-01,16,16,10.789976,106.666630,39.352276,25.633114,61.730026,479.575165,4.054595,101123.804688,...,7179.267694,48393.446780,12262.365566,1686.406661,-9999.0,21.400866,216,106.659300,10.780630,NaN
2021-01-01,16,17,10.789976,106.689516,38.528156,25.759054,61.073494,520.164246,3.809916,101130.937500,...,1221.246398,86858.898791,32195.290892,1830.941629,-9999.0,21.943165,201,106.700606,10.783057,17.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-30,16,16,10.789976,106.666630,19.889748,25.035917,61.037365,668.597046,4.194347,101393.421875,...,7179.267694,48393.446780,12262.365566,1686.406661,-9999.0,20.816696,216,106.659511,10.780482,33.091428
2022-12-30,16,17,10.789976,106.689516,19.311808,25.086349,61.096258,658.158020,4.193315,101394.375000,...,1221.246398,86858.898791,32195.290892,1830.941629,-9999.0,20.595484,201,106.700622,10.783456,40.166667
2022-12-31,15,18,10.812461,106.712403,28.247709,26.630608,55.478946,607.372803,4.216505,101322.437500,...,17783.771810,95404.824438,127492.687793,2042.834978,-9999.0,23.562136,214,106.717396,10.815839,27.879261
2022-12-31,16,16,10.789976,106.666630,27.739468,25.420719,59.543566,783.973083,4.161581,101297.031250,...,7179.267694,48393.446780,12262.365566,1686.406661,-9999.0,23.014317,216,106.659511,10.780482,28.854069
2022-12-31,16,17,10.789976,106.689516,26.935106,25.481535,59.598768,778.749390,4.166253,101298.195312,...,1221.246398,86858.898791,32195.290892,1830.941629,-9999.0,23.279505,201,106.700622,10.783456,33.958333

In [17]:
df_mpair.columns

Index(['i', 'j', 'lat_x', 'lon_x', 'pm25_3km', 'tmp', 'rh', 'hpbl', 'wspd',
       'pres2m', 'pop', 'road_den_1km', 'road_len_1km', 'prim_road_len_1km',
       'near_dist', 'bareland', 'builtup', 'cropland', 'grassland',
       'treecover', 'water', 'ndvi', 'aod', 'aimodel', 'station', 'lon_y',
       'lat_y', 'pm25'],
      dtype='object')

In [18]:
df_mpair.isnull().sum()

i                       0
j                       0
lat_x                   0
lon_x                   0
pm25_3km                0
tmp                     0
rh                      0
hpbl                    0
wspd                    0
pres2m                  0
pop                     0
road_den_1km            0
road_len_1km            0
prim_road_len_1km    2397
near_dist               0
bareland                0
builtup                 0
cropland                0
grassland               0
treecover               0
water                   0
ndvi                  365
aod                     8
aimodel                 0
station                 0
lon_y                   0
lat_y                   0
pm25                 1345
dtype: int64

## Prepare data

In [19]:
# Drop columns
df_mpair.drop(columns=["lat_y", "lon_y", "aimodel", "pres2m"], axis=1, inplace=True)

# Sort data by "station" then "time"
df_mpair.sort_values(by=["station", "time"], inplace=True)

# Rename "lat_x" to "lat", "lon_x" to "lon"
df_mpair.rename(columns={"lat_x": "lat", "lon_x": "lon"}, inplace=True)

df_mpair

,i,j,lat,lon,pm25_3km,tmp,rh,hpbl,wspd,pop,...,bareland,builtup,cropland,grassland,treecover,water,ndvi,aod,station,pm25
time,,,,,,,,,,,,,,,,,,,,,
2021-01-01,16,17,10.789976,106.689516,38.528156,25.759054,61.073494,520.164246,3.809916,47421.883,...,1056.256477,878404.088663,9.037443,1221.246398,86858.898791,32195.290892,1830.941629,-9999.000000,201,17.250000
2021-01-02,16,17,10.789976,106.689516,57.013439,25.378061,61.142441,524.404724,2.527972,47421.883,...,1056.256477,878404.088663,9.037443,1221.246398,86858.898791,32195.290892,1830.941629,0.317342,201,23.000000
2021-01-03,16,17,10.789976,106.689516,57.202629,26.691256,62.528309,467.049805,1.928542,47421.883,...,1056.256477,878404.088663,9.037443,1221.246398,86858.898791,32195.290892,1830.941629,-9999.000000,201,28.291667
2021-01-04,16,17,10.789976,106.689516,61.890816,27.549019,62.431583,600.658997,1.653818,47421.883,...,1056.256477,878404.088663,9.037443,1221.246398,86858.898791,32195.290892,1830.941629,-9999.000000,201,28.791667
2021-01-05,16,17,10.789976,106.689516,70.329758,27.360172,63.041634,654.842773,2.941231,47421.883,...,1056.256477,878404.088663,9.037443,1221.246398,86858.898791,32195.290892,1830.941629,-9999.000000,201,24.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-27,16,16,10.789976,106.666630,34.151028,24.213715,69.134701,463.417114,2.020892,51071.230,...,2272.289336,929982.248561,28.761909,7179.267694,48393.446780,12262.365566,1686.406661,-9999.000000,216,39.659816
2022-12-28,16,16,10.789976,106.666630,29.592785,25.896009,62.308920,647.989014,2.376687,51071.230,...,2272.289336,929982.248561,28.761909,7179.267694,48393.446780,12262.365566,1686.406661,-9999.000000,216,44.679352
2022-12-29,16,16,10.789976,106.666630,27.141323,25.894251,63.947048,813.575928,2.991689,51071.230,...,2272.289336,929982.248561,28.761909,7179.267694,48393.446780,12262.365566,1686.406661,0.193722,216,30.724708
2022-12-30,16,16,10.789976,106.666630,19.889748,25.035917,61.037365,668.597046,4.194347,51071.230,...,2272.289336,929982.248561,28.761909,7179.267694,48393.446780,12262.365566,1686.406661,-9999.000000,216,33.091428
2022-12-31,16,16,10.789976,106.666630,27.739468,25.420719,59.543566,783.973083,4.161581,51071.230,...,2272.289336,929982.248561,28.761909,7179.267694,48393.446780,12262.365566,1686.406661,-9999.000000,216,28.854069